<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalogVersion</key>
	<string>903; 10.4.3 (324248)</string>
	<key>catalogVersionBase</key>
	<string>812; 10.3.3 (301179)</string>
</dict>
</plist>
