<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>240</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.125</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>120</real>
			<real>0.0</real>
			<real>-0.125</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	Zu7/fJtHJCuRyqwNBGaHug==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCBFVJG51bGzUCQoLDA0ODxBaTlNMb2NhdGlvblYkY2xhc3NcTlNSYW5nZUNv
	dW50WE5TTGVuZ3RoEAKAAhABEAjSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXxARTlNN
	dXRhYmxlSW5kZXhTZXSjFhcYXxARTlNNdXRhYmxlSW5kZXhTZXRaTlNJbmRleFNldFhO
	U09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3O0FKVVxpcnR2
	eHp/ipOnq7/K0+Xo7QAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADv
	</data>
</dict>
</plist>
