<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Thursday, 10 May 2018 at 2:26:48 pm Australian Eastern Standard Time</string>
			<key>fullDate</key>
			<date>2018-05-10T04:26:48Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/david/Desktop/test_1080p.mov</string>
			</array>
			<key>sourceFP</key>
			<string>KxGJFPJRTLGt+qqN4Slhww - 2017-06-04 13:52:20 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, 10 May 2018 at 2:28:24 pm Australian Eastern Standard Time</string>
			<key>fullDate</key>
			<date>2018-05-10T04:28:24Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/david/Desktop/test_1080p.m4v</string>
			</array>
			<key>sourceFP</key>
			<string>KxGJFPJRTLGt+qqN4Slhww - 2017-06-04 13:52:20 +0000</string>
		</dict>
	</array>
</dict>
</plist>
