<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>86</integer>
				</dict>
			</array>
		</dict>
		<string>objects</string>
		<string>userInfo</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>67</integer>
			</dict>
			<key>angleID</key>
			<dict>
				<key>CF$UID</key>
				<integer>70</integer>
			</dict>
			<key>aoFlagsMask</key>
			<integer>-1</integer>
			<key>audioComponentsLayoutMap</key>
			<dict>
				<key>CF$UID</key>
				<integer>84</integer>
			</dict>
			<key>clippedRange</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>containedItems</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>contentCreated</key>
			<dict>
				<key>CF$UID</key>
				<integer>71</integer>
			</dict>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>isCompoundClip</key>
			<true/>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>unclippedStart</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>videoProps</key>
			<dict>
				<key>CF$UID</key>
				<integer>72</integer>
			</dict>
		</dict>
		<string>{{ uuidB }}</string>
		<string>__timelineContainerClip</string>
		<string>{(0/1),(1016490/720000)}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>69</integer>
			</dict>
			<key>anchoredItems</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>aoFlagsMask</key>
			<integer>-1</integer>
			<key>clippedRange</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>hasAudio</key>
			<false/>
			<key>hasVideo</key>
			<false/>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
		</dict>
		<string>{{ uuidB }}</string>
		<string>Gap</string>
		<string>{(172800000/48000),(1016490/720000)}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>67</integer>
			</dict>
			<key>anchorPair</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>anchoredLane</key>
			<integer>-1</integer>
			<key>angleID</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>aoFlagsMask</key>
			<integer>-1</integer>
			<key>audioComponentsLayoutMap</key>
			<dict>
				<key>CF$UID</key>
				<integer>63</integer>
			</dict>
			<key>cachedNumPostAudioEffectsChannels</key>
			<integer>0</integer>
			<key>clippedRange</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>containedItems</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>contentCreated</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>metadata</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>unclippedStart</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>videoProps</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
		</dict>
		<string>{{ uuidC }}</string>
		<string>{{ clipname }}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>19</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
		<string>metadataImportToApp</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NS.time</key>
			<real>515250608.37228298</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDate</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDictionary</string>
		</dict>
		<string>{(0/1),(3600/1)}</string>
		<string>{(0/1),(1016490/720000)}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>anchoredLane</key>
			<integer>999999</integer>
			<key>aoFlags</key>
			<integer>1</integer>
			<key>aoFlagsMask</key>
			<integer>-1</integer>
			<key>audioChannelMap</key>
			<dict>
				<key>CF$UID</key>
				<integer>37</integer>
			</dict>
			<key>cachedNumPostAudioEffectsChannels</key>
			<integer>0</integer>
			<key>clippedRange</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>hasAudio</key>
			<true/>
			<key>hasVideo</key>
			<false/>
			<key>media</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>providerSourceKey</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>roleUID</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
		</dict>
		<string>{{ uuidD }}</string>
		<string>{{ label }} - a1</string>
		<string>{(0/720000),(1016490/720000)}</string>
		<string>A2Pb/ppllQ9y4J7iGTLaFpg</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>library</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>mediaIdentifier</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<string>{{ uuidE }}</string>
		<string>{{ uuidF }}</string>
		<string>{{ randomA }}</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAssetRef</string>
				<string>FFMediaRef</string>
				<string>FFMedia</string>
				<string>FFBinObject</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAssetRef</string>
		</dict>
		<string>a1</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
			</array>
		</dict>
		<integer>0</integer>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAnchoredMediaComponent</string>
				<string>FFAnchoredComponent</string>
				<string>FFAnchoredObject</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAnchoredMediaComponent</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<string>70s3vq6qTpC/qYI4EEY/ZA</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NS.time</key>
			<real>515250608.370453</real>
		</dict>
		<string>0/1</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>47</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>49</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>53</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
			</array>
		</dict>
		<string>CS</string>
		<string>PB</string>
		<string>FRD</string>
		<string>FRU</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NS.data</key>
			<!-- No idea what this is?? -->
			<data>
			AAAClGFwcGwCEAAAbW50clJHQiBYWVogB9UABAABAAEAAQABYWNz
			cEFQUEwAAAAAQVBQTAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA
			0y1hcHBsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAMZGVzYwAAARQAAABfY3BydAAAAXQAAAAi
			d3RwdAAAAZgAAAAUclhZWgAAAawAAAAUZ1hZWgAAAcAAAAAUYlhZ
			WgAAAdQAAAAUclRSQwAAAegAAAAOdmNndAAAAfgAAAAwbmRpbgAA
			AigAAAA+Y2hhZAAAAmgAAAAsYlRSQwAAAegAAAAOZ1RSQwAAAegA
			AAAOZGVzYwAAAAAAAAAFSERUVgAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAdGV4dAAAAABDb3B5cmlnaHQg
			MjAwNyBBcHBsZSBJbmMuAAAAWFlaIAAAAAAAAPNRAAEAAAABFsxY
			WVogAAAAAAAAb6AAADj1AAADkFhZWiAAAAAAAABilwAAt4cAABjZ
			WFlaIAAAAAAAACSfAAAPhAAAtsNjdXJ2AAAAAAAAAAEB9gAAdmNn
			dAAAAAAAAAABAAEAAAAAAAAAAQAAAAEAAAAAAAAAAQAAAAEAAAAA
			AAAAAQAAbmRpbgAAAAAAAAA2AACj1wAAVHsAAEzNAACZmgAAJmYA
			AA9cAABQDQAAVDkAAfYEAAH2BAAB9gQAAAAAAAAAAHNmMzIAAAAA
			AAEMQgAABd7///MmAAAHkwAA/ZD///ui///9owAAA9wAAMBu
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableData</string>
				<string>NSData</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableData</string>
		</dict>
		<string>{{0, 0}, {1280, 720}}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>56</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>58</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
			</array>
		</dict>
		<string>flags</string>
		<string>value</string>
		<string>timescale</string>
		<string>epoch</string>
		<integer>1</integer>
		<integer>100</integer>
		<integer>6000</integer>
		<true/>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>66</integer>
			</dict>
			<key>persistedLayoutMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>65</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>64</integer>
			</dict>
		</dict>
		<string>{{ uuidG }}</string>
		<string>conformChannels</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAudioClipComponentsLayoutMap</string>
				<string>FFAudioObjectComponentsLayoutMap</string>
				<string>FFAudioComponentsLayoutMap</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAudioClipComponentsLayoutMap</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAnchoredCollection</string>
				<string>FFAnchoredObject</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAnchoredCollection</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableSet</string>
				<string>NSSet</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableSet</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAnchoredGapGeneratorComponent</string>
				<string>FFAnchoredGeneratorComponent</string>
				<string>FFAnchoredEffectComponent</string>
				<string>FFAnchoredComponent</string>
				<string>FFAnchoredObject</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAnchoredGapGeneratorComponent</string>
		</dict>
		<!-- NO IDEA WHAT THIS IS: -->
		<string>oKPoCu7vS7uv0PY3BaTt7A</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NS.time</key>
			<real>515250621.29602897</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>47</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>73</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>74</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>46</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>76</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>78</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>79</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>80</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>81</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>83</integer>
				</dict>
			</array>
		</dict>
		<string>FFVideoFormat.name</string>
		<string>FFVideoFormat.displayRate</string>
		<string>FFVideoFormat.displaySize</string>
		<string>FFVideoFormat.displayName</string>
		<string>{{0, 0}, {1920, 1080}}</string>
		<string>FFVideoFormat1080p25</string>
		<string>25p</string>
		<string>1920x1080</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>56</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>58</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>82</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
			</array>
		</dict>
		<integer>2500</integer>
		<string>1080p HD</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>66</integer>
			</dict>
			<key>persistedLayoutMode</key>
			<dict>
				<key>CF$UID</key>
				<integer>65</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>85</integer>
			</dict>
		</dict>
		<string>{{ uuidH }}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>87</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>88</integer>
				</dict>
			</array>
		</dict>
		<string>copiedItemsPasteboardInfo</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>89</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>90</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>91</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>92</integer>
				</dict>
			</array>
		</dict>
		<string>audioComponentSourcePasteboardInfos</string>
		<string>nonAudioComponentSources</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>94</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>170</integer>
			</dict>
			<key>alphaHandling</key>
			<integer>2</integer>
			<key>audioChannelCount</key>
			<integer>1</integer>
			<key>audioSampleRate</key>
			<real>22050</real>
			<key>audioSourceCount</key>
			<integer>1</integer>
			<key>audioSourceDict</key>
			<dict>
				<key>CF$UID</key>
				<integer>99</integer>
			</dict>
			<key>audioSourceDictVersion</key>
			<integer>3</integer>
			<key>displayName</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hasAudio</key>
			<true/>
			<key>mediaIdentifier</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>mediaRange</key>
			<dict>
				<key>CF$UID</key>
				<integer>96</integer>
			</dict>
			<key>originalMediaRep</key>
			<dict>
				<key>CF$UID</key>
				<integer>106</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>95</integer>
			</dict>
			<key>timecodeDisplayDropFrame</key>
			<integer>0</integer>
			<key>timecodeFrameDuration</key>
			<dict>
				<key>CF$UID</key>
				<integer>97</integer>
			</dict>
			<key>uttype</key>
			<dict>
				<key>CF$UID</key>
				<integer>98</integer>
			</dict>
			<key>videoFormatName</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
		</dict>
		<string>{{ uuidI }}</string>
		<string>{(0/1),(31130/22050)}</string>
		<string>invalid</string>
		<string>public.aifc-audio</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>36</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>101</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>103</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>104</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>105</integer>
				</dict>
			</array>
		</dict>
		<string>FFMediaAudioSourceDefaultEnableKey</string>
		<string>FFMediaAudioSourceChannelCountKey</string>
		<string>FFMediaAudioSourceSampleRateKey</string>
		<integer>1</integer>
		<real>22050</real>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>169</integer>
			</dict>
			<key>downloadState</key>
			<integer>0</integer>
			<key>downloadURL</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>md5Seed</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>media</key>
			<dict>
				<key>CF$UID</key>
				<integer>94</integer>
			</dict>
			<key>metadata</key>
			<dict>
				<key>CF$UID</key>
				<integer>108</integer>
			</dict>
			<key>organizeStateString</key>
			<dict>
				<key>CF$UID</key>
				<integer>167</integer>
			</dict>
			<key>persistentID</key>
			<dict>
				<key>CF$UID</key>
				<integer>107</integer>
			</dict>
			<key>projectRelativePath</key>
			<dict>
				<key>CF$UID</key>
				<integer>168</integer>
			</dict>
			<key>repType</key>
			<dict>
				<key>CF$UID</key>
				<integer>166</integer>
			</dict>
			<key>syncStatus</key>
			<integer>1</integer>
		</dict>
		<string>{{ uuidJ }}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>109</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>110</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>111</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>112</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>113</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>114</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>116</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>117</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>118</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>119</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>121</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>123</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>124</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>125</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>126</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>127</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>128</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>129</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>130</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>131</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>132</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>133</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>134</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>135</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>136</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>137</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>138</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>139</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>140</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>142</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>104</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>143</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>145</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>146</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>147</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>149</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>150</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>151</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>152</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>148</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>153</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>159</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>160</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>149</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>150</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>161</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>164</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>151</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>98</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>165</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>141</integer>
				</dict>
			</array>
		</dict>
		<string>kMDItemFSCreatorCode</string>
		<string>kMDItemFSFinderFlags</string>
		<string>kMDItemFSContentChangeDate</string>
		<string>kMDItemBitsPerSample</string>
		<string>kMDItemAudioChannelCount</string>
		<string>kMDItemMediaTypes</string>
		<string>kMDItemFSName</string>
		<string>kMDItemDisplayName</string>
		<string>kMDItemAudioSampleRate</string>
		<string>kMDItemFSOwnerUserID</string>
		<string>kMDItemFSSize</string>
		<string>kMDItemFSInvisible</string>
		<string>kMDItemDateAdded</string>
		<string>kMDItemAudioBitRate</string>
		<string>kMDItemKind</string>
		<string>_kMDItemOwnerUserID</string>
		<string>kMDItemContentTypeTree</string>
		<string>kMDItemDurationSeconds</string>
		<string>kMDItemPhysicalSize</string>
		<string>kMDItemLogicalSize</string>
		<string>kMDItemFSTypeCode</string>
		<string>kMDItemFSIsExtensionHidden</string>
		<string>kMDItemFSLabel</string>
		<string>kMDItemContentModificationDate</string>
		<string>metadataContentCreated</string>
		<string>FFMediaRep</string>
		<string>com.apple.proapps.ingestDate</string>
		<string>kMDItemTotalBitRate</string>
		<string>kMDItemContentType</string>
		<string>kMDItemFSOwnerGroupID</string>
		<string>kMDItemContentCreationDate</string>
		<string>kMDItemFSCreationDate</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NS.time</key>
			<real>515250553</real>
		</dict>
		<integer>16</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>144</integer>
				</dict>
			</array>
		</dict>
		<string>Sound</string>
		<string>{{ label }}.aif</string>
		<string>{{ label }}.aif</string>
		<real>22050</real>
		<integer>501</integer>
		<integer>66356</integer>
		<false/>
		<integer>352800</integer>
		<string>AIFF-C audio</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>98</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>154</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>155</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>156</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>157</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>158</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>98</integer>
				</dict>
			</array>
		</dict>
		<string>public.item</string>
		<string>public.content</string>
		<string>public.data</string>
		<string>public.audiovisual-content</string>
		<string>public.audio</string>
		<real>1.4117913832199547</real>
		<integer>69632</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>162</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>163</integer>
				</dict>
			</array>
		</dict>
		<string>bookmark</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NS.data</key>
			<!-- TODO: This contains the path to the file: -->
			<data>
			Ym9va+wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA3AIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAANAAAAAQEAAGxhdGVuaXRlY2hyaXMAAAAHAAAAAQEAAERlc2t0
			b3AADwAAAAEBAABDb21wdXRlciBWb2ljZXMAGgAAAAEBAABTeW50
			aGVzaXNlZCBWb2ljZSBPdmVyLmFpZgAAFAAAAAEGAAAQAAAAIAAA
			ADgAAABIAAAAYAAAAAgAAAAEAwAA6RACAAAAAAAIAAAABAMAAPXD
			BQAAAAAACAAAAAQDAABjxAUAAAAAAAgAAAAEAwAAm+HbBAAAAAAI
			AAAABAMAAKfh2wQAAAAAFAAAAAEGAACgAAAAsAAAAMAAAADQAAAA
			4AAAAAgAAAAABAAAQb62GXkAAAAYAAAAAQIAAAEAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUB
			AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAAAASKKuAAAACAAAAAAEAABBtu+R2gAAACQAAAABAQAA
			MDVGMTFCMzYtNzY5MC0zMUZBLTlCQzEtODRFNjg1Q0VFNTE3GAAA
			AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAANgAAAABAgAAM2VjYjBmOTE3NGU2NTljYmEwNjA3
			ZGVjYTQxNWY3ODI1ZTY0MDkyZjswMDAwMDAwMDswMDAwMDAwMDsw
			MDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
			ZWFkLXdyaXRlOzAwMDAwMDAxOzAxMDAwMDA0OzAwMDAwMDAwMDRk
			YmUxYTc7L3VzZXJzL2xhdGVuaXRlY2hyaXMvZGVza3RvcC9jb21w
			dXRlciB2b2ljZXMvc3ludGhlc2lzZWQgdm9pY2Ugb3Zlci5haWYA
			2AAAAP7///8BAAAAAAAAABEAAAAEEAAAhAAAAAAAAAAFEAAA8AAA
			AAAAAAAQEAAAHAEAAAAAAABAEAAADAEAAAAAAAACIAAA6AEAAAAA
			AAAFIAAAWAEAAAAAAAAQIAAAaAEAAAAAAAARIAAAnAEAAAAAAAAS
			IAAAfAEAAAAAAAATIAAAjAEAAAAAAAAgIAAAyAEAAAAAAAAwIAAA
			9AEAAAAAAAABwAAAPAEAAAAAAAARwAAAIAAAAAAAAAASwAAATAEA
			AAAAAAAQ0AAABAAAAAAAAACA8AAA/AEAAAAAAAA=
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NS.time</key>
			<real>515250608.36981499</real>
		</dict>
		<integer>20</integer>
		<string>originalMediaRep</string>
		<string>mediaReferenced</string>
		<string>{{ fullPath }}</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFMediaRep</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFMediaRep</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>FFAsset</string>
				<string>FFMediaState</string>
				<string>FFMedia</string>
				<string>FFBinObject</string>
				<string>FFBaseDSObject</string>
				<string>FFModelObject</string>
				<string>DSObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>FFAsset</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NS.data</key>
			<!-- Roles Information stored in Binary Plist: -->
			<data>
			YnBsaXN0MDDUAQIDBAUGlpdYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QJQcIEyIjJCgvMDY6QkNESE5PV1hZ
			XWNkbG1ucnh5gIGCiYqLj5VVJG51bGzSCQoLElpOUy5vYmplY3Rz
			ViRjbGFzc6YMDQ4PEBGAAoAKgBCAFoAcgB+ACdgUFRYKFxgZGhsc
			HB0eHyAhWHN1YlJvbGVzXxAbc3lzdGVtR2VuZXJhdGVkU3ViUm9s
			ZUluZGV4WmNvbG9ySW5kZXhfEBhpc1N5c3RlbUdlbmVyYXRlZFN1
			YlJvbGVUdXVpZFRuYW1lVGluZm+ABRAAgAgIgAOABBEBEF8QF1Y1
			WmZwcHlIOFRlZWVtdUFwZ0hZa2VRVXZpZGVv0gkKJRKhJoAGgAnX
			ChUWFxgZGh0cKissLS6ACBAECYAHgAARARFfEBdWaU1JSUJmdmVU
			dDZvcEpJYzNvMmpzUdIxMjM0WiRjbGFzc25hbWVYJGNsYXNzZXNW
			RkZSb2xlojM1WE5TT2JqZWN00jEyNzheTlNNdXRhYmxlQXJyYXmj
			Nzk1V05TQXJyYXnYFBUWChcYGRo7HDwdHj9AQYANEAOACAiAC4AM
			EQEgXxAXVmg5OW81ZjFLUVJ5R3VLY2daSVNONVFWdGl0bGVz0gkK
			RRKhRoAOgAnXChUWFxgZGh0cKitLLU2ACAmAD4AAEQEhXxAXVnpt
			WTdnU2JJVHI2QVFlR043QUxjK1HYFBUWChcYGRpQHFEdHlRVVoAT
			EAGACAiAEYASEEBfEBdBNGJrSThVNmtSSm1CVFFEcUtKY0pyZ1Vt
			dXNpY9IJCloSoVuAFIAJ1woVFhcYGRodHCorYC1igAgJgBWAABBB
			XxAXQXhFcEIxNUxvUTRPRy9XZWdoWjRtU1HYFBUWChcYGRplHGYd
			Hmlqa4AZEAKACAiAF4AYEFBfEBdBU3cyZ09oSXVTZDJ3UThqZ0x5
			TjNFd1dlZmZlY3Rz0gkKbxKhcIAagAnXChUWFxgZGh0cKit1LXeA
			CAmAG4AAEFFfEBdBR0RoNW44bklUQ0tCcW5iRWs0bWUzd9cKFRYX
			GBkaHRx7Hn1+f4AIEBIIgB2AHhBgXxAXQW9oci9HdGJJU25hUHcw
			V0xHMGxBWWdfEA9taXhlZFJvbGVHcm91cHPYFBUWChcYGRqDHBwd
			HoaHiIAigAgIgCCAIRAwXxAXQXp4YlB2YWR3UWJLUFA0a3dkRnhM
			VmdYZGlhbG9ndWXSCQqMEqGNgCOACdcKFRYXGBkaHRwqK5ItlIAI
			CYAkgAAQMV8QF0EyUGIvcHBsbFE5eTRKN2lHVExhRnBnXxAPTlNL
			ZXllZEFyY2hpdmVy0ZiZWW1haW5Sb2xlc4ABAAgAEQAaACMALQAy
			ADcAXwBlAGoAdQB8AIMAhQCHAIkAiwCNAI8AkQCiAKsAyQDUAO8A
			9AD5AP4BAAECAQQBBQEHAQkBDAEmASwBMQEzATUBNwFGAUgBSgFL
			AU0BTwFSAWwBcQF8AYUBjAGPAZgBnQGsAbABuAHJAcsBzQHPAdAB
			0gHUAdcB8QH4Af0B/wIBAgMCEgIUAhUCFwIZAhwCNgJHAkkCSwJN
			Ak4CUAJSAlQCbgJ0AnkCewJ9An8CjgKQApECkwKVApcCsQLCAsQC
			xgLIAskCywLNAs8C6QLxAvYC+AL6AvwDCwMNAw4DEAMSAxQDLgM9
			Az8DQQNCA0QDRgNIA2IDdAOFA4cDiQOKA4wDjgOQA6oDswO4A7oD
			vAO+A80DzwPQA9ID1APWA/AEAgQFBA8AAAAAAAACAQAAAAAAAACa
			AAAAAAAAAAAAAAAAAAAEEQ==
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>173</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>174</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>175</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>176</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>177</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>178</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>179</integer>
				</dict>
			</array>
		</dict>
		<string>FFAnchoredGapGeneratorComponent</string>
		<string>FFAudioClipComponentsLayoutMap</string>
		<string>FFMediaRep</string>
		<string>FFAsset</string>
		<string>FFAnchoredCollection</string>
		<string>FFAssetRef</string>
		<string>FFAnchoredMediaComponent</string>
	</array>
	<key>$top</key>
	<dict>
		<key>DSObjectClasses</key>
		<dict>
			<key>CF$UID</key>
			<integer>172</integer>
		</dict>
		<key>media</key>
		<dict>
			<key>CF$UID</key>
			<integer>93</integer>
		</dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
		<key>sourceRoleSetData</key>
		<dict>
			<key>CF$UID</key>
			<integer>171</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
