<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ffpasteboardcopiedtypes</key>
	<dict>
		<key>pb_anchoredObject</key>
		<dict>
			<key>count</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ffpasteboardobject</key>
	<data>
	{{ base64data }}
	</data>
	<key>kffmodelobjectIDs</key>
	<array/>
</dict>
</plist>