<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>Test Library 4</string>
	<key>libraryID</key>
	<string>55B00A49-84CD-4F0A-88A8-1845A6C89AA1</string>
</dict>
</plist>
